*.aux
*.log
Hastings_1066.toc
*.synctex.*
*test*
*.fls
*.fdb*
main.pdf
UnityProject/Library/
UnityProject/Temp/
UnityProject/Obj/
UnityProject/Logs/
UnityProject/UserSettings/
UnityProject/.vs/
Builds/
.DS_Store
